<div class="container">
  <div class="row">
      <div class="col">
          <h1>Build your resume - start filling out these fields</h1>
          <form [formGroup]="formService.form">
            <div class="row">
              <!-- left col -->
              <div class="col-4">
                <textfield name="candidate-name" label="Name"></textfield>
                <textfield name="candidate-email" label="Emai"></textfield>
                <textfield name="candidate-address" label="Address"></textfield>
                <textfield name="candidate-phone" label="Phone"></textfield>
              </div>
              <!-- right col -->
              <div class="col-8">
                <job-section></job-section>
              </div>
            </div>
            <div class="row">
              <a [routerLink]="['/resume']" class="btn btn-success">Submit</a>
            </div>
          </form>
      </div>
  </div>
</div>