<div class="container-fluid">
    <div class="row">
        <!-- sidebar -->
        <div class="col-3 sidebar">
            <div class="row first-element">
                <div class="col photo-col text-center">
                    <img src="profile.jpg" alt="" class="img-thumbnail" />
                </div>
            </div>
            <div class="row details">
                <div class="col sidebar-box">
                    <h5>Contacts</h5>
                    <div class="deets">
                        <div class="row">
                            <div class="col"><i class="bi bi-house"></i> Via Battisti, Sesto S.G. (MI)</div>
                        </div>
                        <div class="row">
                          <div class="col"><i class="bi bi-envelope"></i> dagostino.lorenzo@gmail.com</div>
                      </div>
                      <div class="row">
                          <div class="col"><i class="bi bi-telephone"></i> +39 351-9180073</div>
                      </div>
                      <div class="row">
                          <div class="col"><i class="bi bi-linkedin"></i> lorenzo.dagostino</div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row details">
                <div class="col sidebar-box">
                    <h5>Skills</h5>
                    <div class="deets">
                        <div class="row">
                            <div class="col">
                                <span class="badge rounded-pill">.NET Framework</span>
                                <span class="badge rounded-pill">.NET Core</span>
                                <span class="badge rounded-pill">C#</span><br>
                                <span class="badge rounded-pill">Angular 2+</span>
                                <span class="badge rounded-pill">HTML5</span>
                                <span class="badge rounded-pill">CSS3</span><br>
                                <span class="badge rounded-pill">SQL Server</span><br>
                                <span class="badge rounded-pill">Git</span>
                                <span class="badge rounded-pill">Subversion</span><br>
                                <span class="badge rounded-pill">Agile SCRUM</span>
                                <span class="badge rounded-pill">TDD</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row details">
                <div class="col sidebar-box">
                    <h5>Education</h5>
                    <div class="deets">
                        <div class="row mb-4">
                            <div class="col">
                                <strong>Università degli Studi di Genova</strong><br>
                                <em>2006 - 2011</em><br>
                                Bachelor degree
                            </div>
                        </div>
                        <div class="row">
                          <div class="col">
                              <strong>Liceo Scientifico L. Lanfranconi</strong><br>
                              <em>2001 - 2006</em><br>
                              Diploma di maturità Scientifica
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row details">
              <div class="col sidebar-box">
                  <h5>Languages</h5>
                  <div class="deets">
                      <div class="row">
                          <div class="col">Italiano </div>
                          <div class="col"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                      </div>
                      <div class="row">
                          <div class="col">English </div>
                          <div class="col"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i></div>
                      </div>
                      <div class="row">
                        <div class="col">Français</div>
                        <div class="col"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star"></i><i class="bi bi-star"></i></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
        <!-- main content-->
        <div class="col-9 ps-5 main-content">
            <div class="row mt-5">
                <div class="col">
                    <h1 class="display-1">Lorenzo D'Agostino</h1>
                    <h6 class="display-6">.NET & Angular developer</h6>
                </div>
            </div>
            <div class="row about-me">
                <div class="col">
                    <div class="section">
                      <h5 class="section-title py-2"><i class="bi bi-megaphone"></i> About me</h5>
                      <p class="lead mt-2">
                          Technology enthusiast, I am always looking for challenges in everything I work on. Lifelong passion for coding. <br>
                          Another line <br>
                          Another line
                      </p>
                    </div>
                </div>
            </div>
            <div class="row jobs">
              <div class="col">
                  <div class="section">
                    <h5 class="section-title py-2"><i class="bi bi-briefcase"></i> Experience</h5>
                    <div class="row experience pagebreak">
                        <div class="col-2 year">
                            2018 - current
                        </div>
                        <div class="col-10 job-descr">
                            <h5>Full stack developer</h5>
                            <h6 class="caption">BNP Paribas Securities Services - Milano</h6>
                            <p class="lead">
                                Business area: Post-settlement investor tax management <br>
                                ASP.NET MVC and .NET batch applications development and maintenance. <br>
                                Challenges faced: front-end migration from Silverlight to Angular v7, backend migration from SSIS packages to C# applications.
                            </p>
                        </div>
                    </div>
                    <div class="row experience pagebreak">
                      <div class="col-2 year">
                          2014 - 2017
                      </div>
                      <div class="col-10 job-descr">
                          <h5>IT Manager & Developer</h5>
                          <h6 class="caption">Bonetti Group - Genova</h6>
                          <p class="lead">
                              Business area: military airplanes parts brokerage and shipment <br>
                              Custom-made order, invoice, shipment parcel generation .NET ERP software maintenance and new feature implementation, 
                              communication with external tools and programs for accounting. <br>
                              System & network administration under Windows Server 
                          </p>
                      </div>
                  </div>
                  <div class="row experience pagebreak">
                      <div class="col-2 year">
                          2012 - 2012
                      </div>
                      <div class="col-10 job-descr">
                          <h5>Localization tester</h5>
                          <h6 class="caption">Babel Ltd. - Montréal</h6>
                          <p class="lead">
                              Software localization tester ENG -> ITA. Collaboration and bug reporting with JIRA
                          </p>
                      </div>
                  </div>
                  <div class="row experience pagebreak">
                      <div class="col-2 year">
                          2011 - 2012
                      </div>
                      <div class="col-10 job-descr">
                          <h5>Web developer</h5>
                          <h6 class="caption">Campus della Città Digitale - Comune di Genova</h6>
                          <p class="lead">
                              Business area: City web portal development and maintenance, such as museums, libraries and schools websites<br>
                              Site development using Drupal CMS, custom implementation and modules with PHP. Frontend development with Javascript
                          </p>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>